*{
    background-image:url("../images/back2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.card-container {
    position: relative;
    top: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.card {

    width: 300px;
    height: 150px;
    margin: 10px;
    background-color: lightblue;
    border-radius: 40px;
    padding: 2rem;
    box-shadow: 0px 3px 7px 3px rgba(0, 0, 0, 0.2);
    transition: .2s ease-in;
}

.card:hover {
    background-color: #000000;
}

.card-heading {
    color: rgb(205, 244, 78);
}
a {
    text-decoration: none;
}