#Auth{
    margin-top: 7%;
}
#cont{
    border: solid rgb(18, 223, 255);
}
#card{
    border-radius: 1rem;
}
#mdpoublie{
    color: aliceblue;
}
#menu{
    width: 100%;
    height: 50%;
}
.errauth{
    text-align: center;
    color: red;
    margin-top: 10px;
}