#Auth{
    margin-top: 10%;
}
#cont{
    border: solid rgb(18, 223, 255);
}

#mdpoublie{
    color: aliceblue;
}
.menu{
    width: 100%;
    height: 100%;
    background-color: #083a59;
}
.errauth{
    text-align: center;
    color: red;
    margin-top: 10px;
}